  <% if user != nil %>
      <h1 class="title"> Welcome, <%= user[:email] %></h1>
  <% else %>
      <h1 class="title">You are not logged in.</h1>
  <% end %>
<br>
<% if user != nil %>
    <table>
      <tc class="columns"><a href="/logout">Logout</a></tc>
    </table>
<% else %>
    <table>
      <tc class="columns"><a href="/login">Login</a></tc>
      <tc class="columns"><a href="/register">Register</a></tc>
    </table>
<% end %>