<table class="reg_log_table">
  <tc>
    <td></td>
    <td><h1>Register</h1></td>
  </tc>
  <tr>
    <td></td>
    <td style="color: red"><%= error %></td>
  </tr>
  <form action="/register" method="post">
    <tr>
      <td>Email</td>
      <td><input type="email" name="user_email"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="user_password"></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><input type="password" name="pw_confirmation"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Register"></td>
    </tr>
  </form>
</table>