<html>
<head></head>
<body>
<form action="/" method="post">
  Email:<input type="email" name="user_email">
  Password:<input type="password" name="user_password">
  <input type="submit" value="Register">
</form>
</body>
</html>
