body {
    background-color: lightgrey;
}

.columns {
    padding: 1em;
    margin-left: 1%;
}

.title {
    padding-left: .5em;
    font-size: 3em;
    font-family: 'Gilda Display', serif;
}


td {
    padding-left: 2em;
    padding-top: 1em;
}

.border {
    border: 1px black;
}

.t_header {
    color: white;
}

.user_row:nth-child(even) {
    background: #CCC
}

.user_row:nth-child(odd) {
    background: #FFF
}


html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    background-color: #DDD;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    width: 676px;
    margin: 0 auto;
    background-color: #f2efbf;
    width: 500px;
}

#wrapper2 {
    background-color: #8da7b3;
    min-height: 100%;
    background-color: #DDD;
    width: 25px;
    margin: 0 auto;
    width: 25px;
}

* html #container {
    height: 100%;
}